:root {
  /* background */
  --c-dark: #141d2d;
  --c-light: #fff;
  --c-accent: #ff6b08;

  --c-dark-blue: #253045;
  --c-grey-blue: #4a5771;
  --c-grey-light: #f1f2f2;
  --c-grey: #bcc1d2;

  /* text */
  --txt-c-dark: var(--c-dark);
  --txt-c-grey: #4f5b70;
  --txt-c-grey-light: var(--c-grey-light);
  --txt-c-accent: var(--c-accent);
  --txt-c-light: var(--c-light);

  /* font */
  --font-main: "Acrom", sans-serif;

  /* container width */
  --vertical-scroll: 20px;
  --mobile: calc(300px + var(--vertical-scroll));
  --tablet: calc(640px + var(--vertical-scroll));
  --desktop: calc(900px + var(--vertical-scroll));
  --desktop-lg: calc(1146px + var(--vertical-scroll));

  /* animation */
  --animation-fast: 0.1s;
  --animation-slow: 0.3s;
}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-ExtraBold.eot");
  src: local("Acrom ExtraBold"), local("Acrom-ExtraBold"),
    url("../fonts/acrom/Acrom-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-ExtraBold.woff") format("woff"),
    url("../fonts/acrom/Acrom-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-Bold.eot");
  src: local("Acrom Bold"), local("Acrom-Bold"),
    url("../fonts/acrom/Acrom-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-Bold.woff") format("woff"),
    url("../fonts/acrom/Acrom-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-Regular.eot");
  src: local("Acrom Regular"), local("Acrom-Regular"),
    url("../fonts/acrom/Acrom-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-Regular.woff") format("woff"),
    url("../fonts/acrom/Acrom-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: var(--font-main);
}

/* COMMON */
.accent-btn {
  background: var(--c-accent);
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-light);
  padding: 20px 35px;
  outline: none;
  border: none;
}

/* FRONT PAGE */
.front-page {
  width: 320px;
  background: var(--c-dark);
  padding: 45px 10px 55px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front-page-myname {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  color: var(--txt-c-accent);
  text-align: center;
  margin: 35px 0 10px 0;
}

.front-page-profession {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;
  color: var(--txt-c-light);
  margin: 0 0 20px 0;
}

.front-page-description {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-light);
  margin: 0 0 20px 0;
}

.navigation {
  display: flex;
  width: 100%;
  align-items: center;
  min-height: 30px;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.logo-link {
  height: 30px;
  align-items: center;
}

.navigation-part {
  display: flex;
  align-items: center;
}

.hire-me-btn {
  /* position: absolute; */
  margin-left: 40px;
  /* left: 160px; */
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-accent);
  text-decoration: none;
  margin: 0 20px 0 0;
}

.mobile-menu {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: var(--c-accent);
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.mobile-menu i {
  /* width: 10px; */
  color: var(--c-light);

  width: 30px;
  min-width: 30px;
  text-align: center;
  margin: 22% auto;
}

.front-page-gallery-btn {
  margin-bottom: 40px;
}

.front-page-my-photo {
  width: 100px;
  margin-bottom: 20px;
  opacity: 0.4;
}

.front-page-my-descr {
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-light);
  margin: 0 0 15px 0;
}

.front-page-my-video-btn {
  border: 2px solid var(--c-accent);
  color: var(--txt-c-accent);
  background: transparent;
  padding: 10px 45px;
  box-sizing: border-box;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.front-page-my-video-btn .fa-play {
  font-size: 10px;
  margin-right: 7px;
}

.front-page-laptop {
  width: 250px;
  margin-bottom: 40px;
}

/* EXPERIENCE */
.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.experience-title {
  width: 240px;
  color: var(--txt-c-light);
  font-weight: bold;
  font-size: 15px;
  line-height: 140%; /* or 21px */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.experience-skill {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.experience-dots {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.experience-dots-item {
  color: var(--c-grey-blue);
  font-size: 8px;
  margin-right: 5px;
}

.experience-dots-item-accent {
  color: var(--c-accent);
}

.experience-text {
  color: var(--txt-c-light);
  margin: 0;
  font-size: 16px;
  line-height: 19px;
}
